#body{
    background: rgb(255, 255, 255);
    height: 100pc;
    width: 100%;
}
#foto-de-perfil{
    border-radius: 50%;
    border: 1px;
    height: 100px;
    width: 100px;
    
}
.box{
    text-align: left;
    width: 55%;
    border: 1px solid black;
    border-radius: 2%;
}
.inner-box{
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.photo-box{
    display: flex;
    align-items: center;
    gap: 10%;
    height: 30%;
}
.table{
    width: 50%;
    justify-content: left;
    gap: 1%;
    border: 1px solid black;
    border-radius: 5%;
}
.cursos{
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}
.input{
    text-align: left;
}
.formulario{
    height: 60%;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 2%;
    align-items: center;
    margin: 0 auto;
}
.botao{
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 1%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;

}
.botao:hover{
    background-color: aqua;
}
.side-Out{
    height: 30%;
    border: 2px solid black;
    border-radius: 2%;
    display: flex;
    gap: 20%;
}
.info-pessoais-label{
    color: rgb(159, 117, 238);
}
.divs-pessoais{
    display: flex;
    gap: 2%;
}
