#body{
    background: rgb(255, 255, 255);
    height: 100pc;
    width: 100%;
}
.box{
    flex: 1;
    background-color: rgb(147, 102, 206);
    text-align: center;
    width: 10px;
    height: 30%;
}
.table{
    width: 50%;
    justify-content: center;
    display: flex;
    gap: 1%;
    border: 1px solid black;
    border-radius: 2%;
    margin: 0 auto;
}
.input{
    text-align: center;
}
.formulario{
    height: 60%;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 2%;
    align-items: center;
    margin: 0 auto;
}
.botao{
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 1%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;

}
.botao:hover{
    background-color: aqua;
}
